<!doctype html>
<head>
{$l_meta}
<title>{$sitename} - {$l_preview}</title>
<link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="stylesheet">
</head>
<body class="gbody popUp">

<table class="forumsmb" style="width:100%;">
<!--topic_title-->
<tr><td class="caption1"><span class="txtNr"><strong>{$topicTitle2}</strong></span></td></tr>
<!--/topic_title-->

<tr><td class="caption1">
<div class="postedText">{$postText2}</div>

<!--num_files-->
<span class="txtSm"><br />{$l_previewFiles}</span>
<!--/num_files-->

</td></tr>

</table>

<form action="#" class="formStyle">
<div style="text-align:center"><input type="button" onclick="self.close()" class="inputButton" value="{$l_previewClose}" /></div>
</form>

</body>
</html>